.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialog.active{
    color: brown;
}

.dialogsItems {
    padding: 10px;
    color: rgb(247, 247, 247);

}
.dialogsItems .active {

color: blueviolet;
}
.dialog {}

.messages {
    padding: 10px;

}

.message {}